<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>에러페이지</title>
</head>
<body>
스프링부트는 컨트롤러에서 익셉션을 발생시키거나, resoponse.sendError를 보내면 에러를 발생시킨다.
에러는 컨트롤러에서 발생한 에러를 인터셉터 -> 서블릿 -> 필터 -> was순으로 다시 역으로 보내고
was는 에러를 확인하고 /error url로 다시 컨트롤러에 요청한다 이떄 request의 dispather type은 error이다
그러므로 필터나 인터셉터를 커스터마이징하거나 추가할때 필터는 디스페처타입을 request(디폴트)로 설정하고
인터셉터는 exclued로 /error/* error url을 추가하여 제외시키면 된다.

webmvcconfiguer인가 bean으로 config생성해서 에러페이지를 추가하면 해당 에러에 맞는 url을 만들어줄수있다
이런설정이없으면 모든 에러에 대한 요청을 /error로 보내 basicerrorcontroller가 처리하게 만든다
에러컨트롤러는 에러를 받으면 템플릿 -> 정적 -> 그냥 의 error폴더의 5xx, 500 이런 에러코드에 맞는 html파일을 찾아서 반환한다.
고로 우리는 error폴더에 해당코드에 맞는 500이나 404 같은 html 파일을 만들어주면 된다
이때 전송되는 request의 attribute에 에러정보들이 담겨져있으니 나중에 확인

</body>
</html>