<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.study.dto.BoardDto" alias="BoardDto"/>
        <typeAlias type="com.study.dto.FileDto" alias="FileDto"/>
        <typeAlias type="com.study.dto.ReplyDto" alias="ReplyDto"/>
        <typeAlias type="com.study.dto.CategoryDto" alias="CategoryDto"/>
        <typeAlias type="com.study.dto.BoardSearchCondition" alias="BoardSearchCondition"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="com.study.config.HikariCPDataSourceFactory">
                <property name="maximumPoolSize" value="10"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
       <mapper resource="mybatis/mapper/boardMapper.xml"/>
       <mapper resource="mybatis/mapper/replyMapper.xml"/>
       <mapper resource="mybatis/mapper/fileMapper.xml"/>
       <mapper resource="mybatis/mapper/categoryMapper.xml"/>
    </mappers>

</configuration>
