.App {
  text-align: center;
}

.black-nav {
  background-color: black;
  color: white;
  padding-left: 20px;
  display: flex;
  align-items: center;
  font-size: 10px;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid #eee;
  width: 20%;
}

.modal {
  padding: 20px;
  background-color: #eee;
}

.remove-btn {
  border: none;
  color: white;
  background-color: black;
  font-size: 20px;
  cursor: pointer;
}
.remove-container {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
