<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8">
    <title>게시글</title>
    <link rel="stylesheet" th:href="@{/css/board/board.css}">
    <script th:src="@{/js/board/board.js}"></script>
  </head>

  <body>

    <div class="board-container">

      <div class="header-container">
        <div class="header-top-container">
          <p class="header-name" th:text="${board.getWriter()}"/>
          <div class="header-date-container">
            <p class="header-date-create" th:text="|등록일시 ${board.getFormattedCreateDate()}|"/>
            <p class="header-date-update" th:text="|수정일시 ${board.getFormattedUpdateDate()}|"/>
          </div>
        </div>

        <div class="header-bottom-container">
          <div class="header-title-container">
            <p th:text="|[${board.getCategoryName()}]|"/>
            <h1 class="header-title" th:text="${board.getTitle()}"/>
          </div>
          <p class="header-view" th:text="|조회수: ${board.getViewCnt()}|"/>
        </div>
      </div>

      <div class="content-container">
        <p class="content-text" th:text="${board.getContent()}"/>
      </div>

      <div class="file-container">
          <a th:each="file : ${files}"
             th:href="|/fileDown/${file.getFileId()}|"
             th:text="${file.getPhysicalName()}"/>
      </div>

      <div class="reply-container">
        <div class="reply-list-container">
            <div class="reply" th:each="reply : ${replies}">
              <div class="reply-date" th:text="${reply.getFormattedCreateDate()}"/>
              <div class="reply-content" th:text="${reply.getReplyContent()}"/>
            </div>
        </div>
        <div class="reply-register-container">
          <input type="text"
                 name="content"
                 class="reply-register-input"
                 placeholder="댓글을 입력해 주세요.">
          <button
            type="submit"
            data-th-boardId="${board.getBoardId()}"
            class="reply-register-button"
            onclick="registerReply(this.getAttribute('boardId'))">등록
          </button>
        </div>
      </div>

      <div class="button-container">
        <button class="button-list">
          <a th:href="|/board${condition.getQueryParamString()}|" class="button-list-a">목록</a>
        </button>
        <button class="button-update">
          <a th:href="|/board/update/${board.getBoardId()}${condition.getQueryParamString()}|"
             class="button-update-a">수정
          </a>
        </button>
        <button type="button"
                class="button-remove"
                onclick="removeOpen()">삭제
        </button>
      </div>

    </div>

    <!-- 게시글 삭제 모달창 -->
    <div th:replace="~{/fragment/deleteModal :: removeModal}"></div>
    <!-- 게시글 삭제결과 -->
    <script th:replace="~{/fragment/deleteMsg :: deleteMsg}"></script>

  </body>
</html>